.sidenav{
   position: fixed;
    z-index: 1;
    right:5%;
    width:60px;
	top: 80%;
}

.table2{
    background-image: url("images/backgroung2.png");
    border-collapse: separate;
    border-spacing: 10px;
	border: 1px solid grey
}

.pic_left {
  float: left;
  margin: 10px 10px 3px 0px;
  border-radius: 5px;
}

.unesco{
    float: left;
    margin: 7px 7px 7px 7px;
}

.card-body{
    background-color: #91a291;
}

.container{
    background-color: #cfd9ec;
    margin-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
}

.container-fluid{
	 background-color: #cfd9ec;
}

.navigation{
    margin-bottom: 30px;
    background-color: #81a2ef;
}

.form-body{
    background-color: #b8b5c4;
}

.card text-bg-dark{
    height: 200px;
}

.carousel-inner{
    height: 300px;
    margin-bottom:20px;
}

.info_box{
    margin-bottom: 200px;
}

.vk{
    margin-right: 45px;
    margin-top: 10px;
	margin-bottom: 200px;
}

.tg{
	margin-top: 10px;
	margin-bottom: 200px;
}




.hover-text-one {
	overflow: hidden;
	width: 300px;
	list-style: none;
	text-align: center;
	float: left;
    margin: 10px 10px 3px 0px;
    border-radius: 5px;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.card-title{
    font-size: 90px;
    padding-top: 15%;
    color: #fdfdfd;
	font-weight: bold;
	font-family: 'Unbounded', cursive;
}

.card-text{
    font-size: 35px;
    color: #f5dc78;
	font-style: italic;
	font-family: 'Unbounded', cursive;
}

.btn{
	margin-bottom: 20px;
}

.form-title{
	margin-bottom: 15px;
	padding-top: 15px;
	font-size: 30px;
}

.form_button{
	padding-bottom: 15px;
}

.form_text{
	padding-top: 15px;
}

.form-title{
	font-family: 'Unbounded', cursive;
	color: #f5dc78;
}

.form-body{
	text-align: center;
}

.ptitle{
	font-family: 'Unbounded', cursive;
	color: #ffffff;
}

.nav-link{
	font-family: 'Unbounded', cursive;
}

.f1{
	margin-top: 10px;
}



